<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Chore Summary</title>

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css"></link>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css"></link>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.0/css/bootstrap-datepicker.min.css"></link>
    <link rel="stylesheet" type="text/css" href="/starter/css/screen.css"></link>
    <link rel="stylesheet" type="text/css" href="/starter/css/jquery.growl.css"></link>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.0/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="/starter/js/jquery.spring-friendly.min.js"></script>
    <script type="text/javascript" src="/starter/js/pagination.js"></script>
    <script type="text/javascript" src="/starter/js/jquery.growl.js"></script>
  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="topbar navbar navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="navbar-header">
            <a class="navbar-brand page-scroll" href="#page-top">
              <span class="glyphicon glyphicon-equalizer"></span>
              <span class="light">MY</span> CHORE
            </a>
          </div>
        </div>
        <div id="navbar" class="navbar-collapse collapse navbar-custom">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-user"></span> elise@gmail.com
              </a>
              <ul class="dropdown-menu">
                <li><a href="#">Logout</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Add Chore</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>Chore</h2>
          <em>summary</em>
        </div>
	    <div class="col-md-8 ">
	      <div class="top-content">
	        <ul class="list-inline mini-stat">
              <li data-toggle="tooltip" title="$ 2.85" data-placement="bottom">
                <h5>PAID <span class="stat-value stat-color-orange"><span class="glyphicon glyphicon-plus-sign"></span> 2</span></h5>
              </li>
              <li data-toggle="tooltip" title="$ 9.10" data-placement="bottom">
                <h5>APPROVED <span class="stat-value stat-color-blue"><span class="glyphicon glyphicon-plus-sign"></span> 4</span></h5>
              </li>
              <li data-toggle="tooltip" title="$ 4.35" data-placement="bottom">
                <h5>SUBMITTED <span class="stat-value stat-color-green"><span class="glyphicon glyphicon-plus-sign"></span> 4</span></h5>
              </li>
              <li data-toggle="tooltip" title="$ 15.20" data-placement="bottom">
                <h5>DRAFT <span class="stat-value stat-color-red"><span class="glyphicon glyphicon-plus-sign"></span> 6</span></h5>
              </li>
          </ul>
	      </div>
	    </div>
	  </div>
	  <div class="row">
	    <div class="col-md-4"></div>
	    <div class="col-md-8 ">
	      <div class="top-content">
		    <button type="button" class="btn btn-default filter-btn" data-toggle="collapse" data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
	          <span class="glyphicon glyphicon-filter"></span> FILTER
	        </button>
	        
	        <button type="button" class="btn btn-default add-btn" data-toggle="collapse" data-target="#addentry">
              <span class="glyphicon glyphicon-plus"></span> <span class="add-lbl">ADD NEW ENTRY</span>
            </button>
	      </div>
	    </div>
	  </div>
	  <div class="collapse" id="collapseFilter">
	    <div class="filter">
	      <div class="row">
            <div class="form-group col-md-8"></div>
            <div class="form-group col-md-4"><span class="pull-right"><span class="glyphicon glyphicon-remove-circle"></span></span></div>
          </div>
        <form>
          <div class="form-group col-md-2">
            <label for="name" class="control-label">Start</label>
            <div class="input-group date">
              <input type="text" value="" class="form-control date-picker" name="pagingFilter.start" placeholder="mm/dd/yyyy"></input>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
          <div class="form-group col-md-2">
            <label for="name" class="control-label">End</label>
            <div class="input-group date">
              <input type="text" value="" class="form-control date-picker" name="pagingFilter.end" placeholder="mm/dd/yyyy"></input>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
          <div class="form-group col-md-3">
            <label for="name" class="control-label">Status</label>
            <select class="selectpicker form-control filter-st" multiple="true" title="choose">
              <option th:each="status : ${statuses}" th:value="${status.id}" th:text="${status.name}"></option>
            </select>
          </div>
          <div class="form-group col-md-3">
            <label for="name" class="control-label">Category</label>
            <select class="selectpicker form-control filter-cat" multiple="true" title="choose">
              <option th:each="cat : ${categories}" th:value="${cat.id}" th:text="${cat.name}"></option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="name" class="control-label"><span>&nbsp;</span></label>
            <button type="button" class="btn btn-default form-control btn-filter">
              <span class="glyphicon glyphicon-ok"></span> <span class="add-lbl">SUBMIT</span>
            </button>
          </div>
        </form>
	    <div style="margin-bottom: 1px;">&nbsp;</div>
	    </div>
	  </div>
	  <div class="collapse" id="addentry">
      <div class="filter">
        <div class="row">
          <div class="form-group col-md-8">
            <ul id="errorList">
            
            </ul>
          </div>
          <div class="form-group col-md-4"><span class="pull-right"><span class="glyphicon glyphicon-remove-circle"></span></span></div>
        </div>
        <form id="form" method="post" action="/starter/chore/add">
		    <div class="row">
		      <div class="col-md-4">
              <div class="row">
                <div class="col-md-8">
                  <label for="name" class="control-label">Start</label>
                  <div class="input-group date">
                    <input type="text" value="" class="form-control date-picker" name="choreDate" placeholder="mm/dd/yyyy"></input>
                    <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                  </div>
                </div>
              </div>
              
              <div class="row top-buffer">
                <div class="col-md-8">
                  <label for="name" class="control-label">Amount</label>
                  <div class="input-group">
                    <div class="input-group-addon">$</div>
                    <input type="text" class="form-control" name="amount"></input>
                  </div>
                </div>
              </div>
              
              <div class="row top-buffer">
                <div class="col-md-12">
                  <label for="name" class="control-label">Category</label>
                  <select class="selectpicker form-control sub-cat" title="choose" name="category">
                    <option th:each="cat : ${categories}" th:value="${cat.id}" th:text="${cat.name}"></option>
                  </select>
                </div>
              </div>
            </div>
            
            <div class="col-md-4">
              <label for="name" class="control-label">Status</label>
              <select class="selectpicker form-control sub-st" title="choose" name="status">
                <option th:each="status : ${statuses}" th:value="${status.id}" th:text="${status.name}"></option>
              </select>
              <div class="top-buffer">
                <input type="checkbox" name="notification" id="notify" value="true"></input><label for="notify" class="control-label left-buffer-5">Send Notification</label>
              </div>
            </div>
            
            <div class="col-md-4">
              <label for="name" class="control-label">Memo</label>
              <textarea class="form-control" rows="8" name="memo"></textarea>
              <div class="pull-right top-buffer">
                <button type="submit" form="form" class="btn btn-default btn-filter top-buffer-8">
                  <span class="glyphicon glyphicon-ok"></span> <span class="add-lbl">SUBMIT</span>
                </button>
              </div>
            </div>
		  </div>
        
    
        </form>
        <div style="margin-bottom: 1px;">&nbsp;</div>
        </div>
      </div>
	  <table id="pagination" class="table table-bordered" style="width:100%;">
	    <thead>
	      <tr>
	        <th><span class="glyphicon glyphicon-calendar"></span> Date</th>
	        <th><span class="glyphicon glyphicon-list-alt"></span> Category</th>
	        <th><span class="glyphicon glyphicon-usd"></span> Amount</th>
	        <th><span class="glyphicon glyphicon-tags"></span> Status</th>
	      </tr>
	    </thead>
	  </table>
    </div> 
</body></html>