<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Chore Summary</title>

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css"></link>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css"></link>
    <link rel="stylesheet" type="text/css" href="/starter/css/screen.css"></link>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="/starter/js/jquery.spring-friendly.min.js"></script>
    <script type="text/javascript" src="/starter/js/pagination.js"></script>
  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="topbar navbar navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="navbar-header">
            <a class="navbar-brand page-scroll" href="#page-top">
              <span class="glyphicon glyphicon-equalizer"></span>
              <span class="light">MY</span> CHORE
            </a>
          </div>
        </div>
        <div id="navbar" class="navbar-collapse collapse navbar-custom">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-user"></span> elise@gmail.com
              </a>
              <ul class="dropdown-menu">
                <li><a href="#">Logout</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Add Chore</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>Chore</h2>
          <em>summary</em>
        </div>
	    <div class="col-md-8 ">
	      <div class="top-content">
	        <ul class="list-inline mini-stat">
              <li data-toggle="tooltip" title="$ 2.85" data-placement="bottom">
                <h5>PAID <span class="stat-value stat-color-orange"><span class="glyphicon glyphicon-plus-sign"></span> 2</span></h5>
              </li>
              <li data-toggle="tooltip" title="$ 9.10" data-placement="bottom">
                <h5>APPROVED <span class="stat-value stat-color-blue"><span class="glyphicon glyphicon-plus-sign"></span> 4</span></h5>
              </li>
              <li data-toggle="tooltip" title="$ 4.35" data-placement="bottom">
                <h5>SUBMITTED <span class="stat-value stat-color-green"><span class="glyphicon glyphicon-plus-sign"></span> 4</span></h5>
              </li>
              <li data-toggle="tooltip" title="$ 15.20" data-placement="bottom">
                <h5>DRAFT <span class="stat-value stat-color-red"><span class="glyphicon glyphicon-plus-sign"></span> 6</span></h5>
              </li>
          </ul>
	      </div>
	    </div>
	  </div>
	  <div class="row">
	    <div class="col-md-4"></div>
	    <div class="col-md-8 ">
	      <div class="top-content">
		    <button type="button" class="btn btn-default filter-btn"  data-toggle="collapse" data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
	          <span class="glyphicon glyphicon-filter"></span> FILTER
	        </button>
	        
	        <button type="button" class="btn btn-default add-btn">
              <span class="glyphicon glyphicon-plus"></span> <span class="add-lbl">ADD NEW ENTRY</span>
            </button>
	      </div>
	    </div>
	  </div>
	  <div class="collapse" id="collapseFilter">
	    <div class="filter">
	      <div>
            <div class="form-group col-md-8"></div>
            <div class="form-group col-md-4"><span class="pull-right"><span class="glyphicon glyphicon-remove-circle"></span></span></div>
          </div>
        <form>
          <div class="form-group col-md-2">
            <label for="name" class="control-label">Start</label>
            <input type="text" value='' class="form-control" name="pagingFilter.start" placeholder="mm/dd/yyyy"></input>
          </div>
          <div class="form-group col-md-2">
            <label for="name" class="control-label">End</label>
            <input type="text" value='' class="form-control" name="pagingFilter.end" placeholder="mm/dd/yyyy"></input>
          </div>
          <div class="form-group col-md-3">
            <label for="name" class="control-label">Status</label>
            <select class="selectpicker form-control" multiple="true" title="choose">
              <option value="102">Approved</option>
              <option value="101">Submitted</option>
              <option value="100">Draft</option>
              <option value="103">Paid</option>
            </select>
          </div>
          <div class="form-group col-md-3">
            <label for="name" class="control-label">Category</label>
            <select class="selectpicker form-control" multiple="true" title="choose">
              <option>Bathrooms</option>
              <option>Babysitting</option>
              <option>Yard</option>
              <option>Vehicles</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="name" class="control-label"><span>&nbsp;</span></label>
            <button type="button" class="btn btn-default form-control btn-filter">
              <span class="glyphicon glyphicon-ok"></span> <span class="add-lbl">SUBMIT</span>
            </button>
          </div>
        </form>
	    <div style="margin-bottom: 1px;">&nbsp;</div>
	    </div>
	  </div>
	  <table id="pagination" class="table table-bordered" style="width:100%;">
	    <thead>
	      <tr>
	        <th><span class="glyphicon glyphicon-calendar"></span> Date</th>
	        <th><span class="glyphicon glyphicon-list-alt"></span> Category</th>
	        <th><span class="glyphicon glyphicon-usd"></span> Amount</th>
	        <th><span class="glyphicon glyphicon-tags"></span> Status</th>
	      </tr>
	    </thead>
	  </table>
    </div> 
</body></html>