<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mychores.repository.mapper.ChoreEntryMapper">

  <resultMap type="com.mychores.model.pagination.PageableResponse" id="result-output">
    <id property="recordsFiltered" column="recordsFiltered" />
    <result property="recordsTotal" column="recordsTotal"/>
    <collection property="data" ofType="com.mychores.model.ChoreEntrySummary">
      <result property="id" column="id"/>
      <result property="category" column="category"/>
      <result property="amount" column="amount"/>
      <result property="choreDate" column="choreDate"/>
      <result property="version" column="version"/>
      <result property="status" column="status"/>
    </collection>
  </resultMap>
  
  <select id="findDataTablesOutput" resultMap="result-output">
    SELECT
      recordsTotal AS recordsTotal,
      COUNT(*) OVER() AS recordsFiltered,
      id AS id,
      amount AS amount,
      category AS category,
      categoryId AS categoryId,
      status AS status,
      statusId AS statusId,
      choreDate AS choreDate,
      createdDate AS createdDate,
      version AS version
    FROM (
     SELECT
        COUNT(*) OVER() AS recordsTotal,
        ce.id AS id,
        ce.amount AS amount,
        cat.name AS category,
        cat.id AS categoryId,
        status.name AS status,
        status.id   AS statusId,
        ce.chore_date AS choreDate,
        ce.created_date AS createdDate,
        ce.version_number AS version
      FROM
        chore_entry ce,
        category cat,
        status status
      WHERE
        ce.active_flag = 'Y' AND
        cat.id = ce.category AND
        status.id = ce.status
    ) AS rc
    WHERE
      id is not null
      <if test="pagingFilter != null &amp;&amp; pagingFilter.start != null">
        AND createdDate &gt;= #{pagingFilter.start}
      </if>
      <if test="pagingFilter != null &amp;&amp; pagingFilter.end != null">
        AND createdDate &lt;= #{pagingFilter.end}
      </if>
      <if test="pagingFilter != null &amp;&amp; pagingFilter.statuses != null &amp;&amp; pagingFilter.statuses.size() &gt; 0">
        AND statusId IN 
        <foreach item="status" index="index" collection="pagingFilter.statuses" open="(" separator="," close=")">
          #{status}
        </foreach>
      </if>
      <if test="pagingFilter != null &amp;&amp; pagingFilter.categories != null &amp;&amp; pagingFilter.categories.size() &gt; 0">
        AND categoryId IN 
        <foreach item="category" index="index" collection="pagingFilter.categories" open="(" separator="," close=")">
          #{category}
        </foreach>
      </if>
      
      <if test="order != null">
      ORDER BY <if test="order.size == 0">rc.id</if>
      <foreach item="item" collection="order" separator=" ">
        <if test="item.column == 0">
          choreDate <if test="item.dir == 'asc'">ASC</if><if test="item.dir == 'desc'">DESC</if>
        </if>
        <if test="item.column == 1">
          category <if test="item.dir == 'asc'">ASC</if><if test="item.dir == 'desc'">DESC</if>
        </if>
        <if test="item.column == 2">
          amount <if test="item.dir == 'asc'">ASC</if><if test="item.dir == 'desc'">DESC</if>
        </if>
        <if test="item.column == 3">
          status <if test="item.dir == 'asc'">ASC</if><if test="item.dir == 'desc'">DESC</if>
        </if>
      </foreach>
      </if>
      
      <if test="start != null">
        OFFSET #{start}
      </if>
      <if test="length != null">
        LIMIT #{length}
      </if>
  </select>
  
  <select id="findRecordCount" resultType="java.lang.Integer">
    SELECT
      COUNT(*)
    FROM
      chore_entry ce
    WHERE
      ce.active_flag = 'Y'
  </select>
</mapper>